@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&family=Tomorrow:wght@600&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

main {
    width: auto;
    height: auto;
    align-items: center;
    align-content: center;
    justify-content: center;
    text-align: center;
}

/* OPCIONES RESULTADOS - READY */
.img-ready {
    width: 150px;
}

.msj-ready {
    background-color: var(--color-white);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    border-radius: 40px;
    padding: 50px 40px;
    margin: 10px;
}

/* OPCIONES LOADER*/
.img-loader {
    width: 150px;
}

.container-loader {
    display: flex;
    margin-top: 300px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--color-white);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    border-radius: 40px;
    padding: 50px 40px;
    width: 250px;
}

.loader {
    z-index: 99999;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.479);
}

/* IMAGEN POP UP LAMINA */
#popup {
    display: none;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 999999;
    width: auto;
    height: auto;
    border-radius: 40px 0 40px 40px;
    background: #004b8983;
    padding: 10px 15px;
}

#popup>img {
    height:250px;
    padding: 10px;
}

#close-popup {
    display: flex;
    font-size: 30px;
    font-weight: bolder;
    text-align: end;
    justify-content: end;
    z-index: 999999;
    color: var(--color-white);
    padding: 0 10px;
} */

/*ERROR MSJ*/
#errorBusqueda {
    background-color: var(--color-white);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    border-radius: 40px;
    padding: 50px 40px;
    width: 250px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}


body {
    font-family: 'Josefin Sans', sans-serif;
    max-width: 100%;
    min-height: 100vh;
}

.boton {
    cursor: pointer;
    transition: transform 0.1s;
}

.boton:hover {
    transform: translateY(4px);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

main {
    width: 100%;
    height: 100%;
    display: flex;
}

:root {
    --color-title: #004C89;
    --color-black: #252525;
    --color-white: #ffffff;
    --color-gray: #afafaf09;
    --color-secondgray: #E8E8E8;
    --color-footer: #78b3e0;
}

/*---------------PRINCIPAL---------------*/
/* -----------header----------- */

header {
    width: 100%;
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: center;
}

.name-header {
    background-color: var(--color-title);
    border-radius: 40px;
    width: 60%;
    margin: 15px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.name-header-title {
    font-size: 25px;
    font-weight: bolder;
    padding: 15px 30px;
    color: var(--color-white);
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

/* -----------main----------- */
.container {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.principal {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
    width: 80%;
    gap: 25px;
    margin: 20px 0;
}

.list-principal {
    background-color: var(--color-gray);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 100%;
    height: 200px;
    gap: 5px;
    padding: 15px 30px;
}

.text-list-principal {
    font-size: 35px;
    text-decoration: none;
    color: var(--color-black);
}

.img-list-principal {
    height: 60px;
}

/*---------------------- SECCION LIBRERIA ----------------------*/
.return-btn {
    background-color: var(--color-title);
    border-radius: 50%;
    padding: 9px;
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.img-return {
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.name-subheader {
    background-color: var(--color-secondgray);
    border-radius: 40px;
    width: 60%;
    margin: 15px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.name-subheader .second {
    text-align: center;
    justify-content: center;

}

.name-subheader-title {
    font-size: 25px;
    font-weight: bolder;
    padding: 15px 20px;
    color: var(--color-black);
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.img-subheader-title {
    height: 40px;
}

.principal-libreria {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.list-libreria {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    border-radius: 20px;
    display: flex;
    width: 240px;
    padding: 20px;
    box-sizing: border-box;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 450px;
}

.text-list-principal {
    font-size: 25px;
    text-decoration: none;
    color: var(--color-black);
}

.img-list-principal {
    height: 60px;
}

/*---------------------- SECCION LIBRERIA - LAMINAS ----------------------*/
.name-subheader-laminas {
    background-color: var(--color-title);
    border-radius: 40px;
    width: 60%;
    margin: 15px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.name-subheader-title-laminas {
    font-size: 25px;
    font-weight: bolder;
    padding: 15px 20px;
    color: var(--color-white);
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.principal-laminas {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

/* ----- SEARCH BOX ----- */
.container-searchbar {
    width: 100%;
    margin-top: 15px;
}

.search-box {
    padding: 10px;
    border: 1px solid #666666;
    border-radius: 20px;
    font-size: 16px;
    width: 70%;
    margin: 10px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.search-box:focus {
    outline: none;
    border-color: #004C89;
    box-shadow: 0 0 5px rgba(0, 0, 255, 0.5);
}

/* -----PRODUCTOS LAMINAS----- */
.container-laminas {
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.list-lamina {
    border-radius: 40px;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    height: 170px;
    width: auto;
    display: flex;
    margin: 10px;
    text-align: center;
    justify-content: space-evenly;
    align-items: center;
    padding: 5px 5px;
}

.number-container {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: var(--color-white);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    width: auto;
    height: auto;
    padding: 25px;
}

.description-product {
    width: 50%;
    overflow: auto;
    word-wrap: break-word;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.number-product {
    font-size: 27px;
    font-weight: bolder;
}

/* -----------------------SECTION LIBRERIA - UTILES ESCOLARES---------------------------------- */
.container-utiles {
    width: 100%;
}
.busqueda-utiles{
    margin: 15px;
    margin-bottom: 30px;
}

.busqueda-utiles select{
	display: inline-block;
    font-family: 'Josefin Sans', sans-serif;
	width: 50%;
	cursor: pointer;
  	padding: 7px 10px;
  	height: 42px;
  	outline: 0; 
  	border: 0;
	border-radius: 0;
	background: #f0f0f0;
	color: #000000;
	font-size: 20px;
	border:2px solid rgba(0,0,0,0.2);
    border-radius: 12px;
    position: relative;
    transition: all 0.25s ease;
    align-items: center;
    justify-content: center;
}
 
.busqueda-utiles select:hover{
	background: #b1dbe8;
}
 
/* 
Creamos la fecha que aparece a la izquierda del select.
Realmente este elemento es un cuadrado que sólo tienen
dos bordes con color y que giramos con transform: rotate(-45deg);
*/
.busqueda-utiles i{
	position: absolute;
	right: 20px;
	top: calc(50% - 13px);
	width: 16px;
	height: 16px;
	display: block;
	border-left:4px solid #241d7e;
	border-bottom:4px solid #343c85;
	transform: rotate(-45deg); /* Giramos el cuadrado */
	transition: all 0.25s ease;
}
 
.busqueda-utiles:hover i{
	margin-top: 3px;
}
.busqueda-utiles label{
    font-size: 20px;
}
select > option{
    font-family: 'Josefin Sans', sans-serif;
    justify-content: center;
    align-items: baseline;
    display: flex;
}
.result-utiles {
    display: grid;
    place-items: center;
    
    width: auto;
    grid-template-rows: minmax(30vh, max-content) minmax;
}

.result-utiles>div {
    display: flex;
    align-items: center;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(5, 160px);
    width: 100%;

}
#productos-container{
   width: 100%;
   gap:  20px 80px;
   margin-bottom: 70px;
}

#productos-container .producto {
    background: var(--color-white);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 320px;
    width: 220px;
}
.producto>div{
    margin-top: 15px;
}

#productos-container .img-product {
    height: 160px;
}

.title-product {
    font-size: 17px;
    font-weight: bolder;
    padding: 10px 10px;
    text-transform: uppercase;
    color: var(--color-title);
}

/* -----------footer----------- */
footer {
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0;
    width: 100%;
    height: 100%;
}

.footer-acoding {
    background-color: var(--color-footer);
    color: var(--color-white);
    letter-spacing: 2px;
    border-radius: 40px;
    font-family: 'Tomorrow', sans-serif;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
    padding: 8px 16px;
    width: 80%;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 13px;
}

/*--------------------RESPONSIVE--------------------*/
@media (max-width: 760px) {
    .container {
        margin: 0 0;
    }

    .principal {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: 100%;
        gap: 10px;
        margin: 5px 0;
    }

    .list-principal {
        height: 115px;
    }
}

@media (max-width: 760px) {
    main {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

    }

    .list-libreria {
        width: 100%;
        height: 200px;
        padding: 10px;
    }

    .principal-libreria {
        margin: 10px 40px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        /* Dos columnas con tamaño flexible */
    }

    .text-list-principal {
        font-size: 23px;
    }

    .container-laminas {
        padding: 10px 0px;
        width: 100%;
        align-items: center;
        justify-content: center;
        display: flex;
        margin: auto 20px;
        text-align: center;
        margin-bottom: 50px;
    }

    /* SECCION LAMINAS */
    .principal-laminas {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 550px) {

    /* SECCION LAMINAS */
    .container-laminas {
        width: 100%;
        display: grid;
        place-items: center;
        grid-template-columns: 1fr;
        margin: 5px auto;
    }

    .list-lamina {
        width: 100%;
        margin: 10px auto;
        height: auto;
        padding: 30px 15px;
    }

    .principal-laminas {
        width: 80%;
        display: grid;
        grid-template-columns: 1fr;
        margin-bottom: 50px;
    }

    .msj-ready {
        margin-top: 0px;
    }

    #errorBusqueda {
        margin-top: 0px;
    }

}

@media (max-width:370px) {
    .container-laminas {
        width: 100%;
    }

    .principal-laminas {
        width: 80%;

    }
}